.PhoneBookBlock {
	display: block;
	border: 1px solid rgb(45, 87, 88);
	background-color: cadetblue;
	max-width: 400px;
}
p {
	font-size: 24px;
	font-weight: 600;
	margin: 20px;
}

/* .PhoneBook {
	font-size: 14px;
	font-weight: 400;
} */

input {
	padding: 10px;
	font-size: 20px;
	font-weight: 600;
	margin: 5px 0;
}

.contactClass {
	display: flex;
	padding: 10px;
	justify-content: space-between;
	margin: 1px auto;
	border: 1px solid rgb(30, 59, 59);
}

.Contact {
	padding: 5px 20px;
	font-size: 20px;
	font-weight: 600;
}

ol,
ul {
	list-style: none;
	padding: 0;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

.Pad {
	margin-top: 20px;
	border-top: 1px solid rgb(30, 59, 59);
}

.Filter {
	margin: 0;
	font-weight: 600;
}
.buttonClear {
	display: flex;
	align-items: center;
	height: 35px;
	margin: 5px 5px 5px 0;
}

.buttonClearID {
	visibility: hidden;
	display: contents;
}
.findContacts {
	margin: 10px 0;
}
